@model IEnumerable<Mart.Web.Models.ProductCategory>

@{
    ViewData["Title"] = "Product Categories";
}

<h1>Product Categories</h1>

<p>
    <a asp-controller="ProductAdmin" asp-action="AddCategory" class="btn btn-primary">Create New Category</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category?.CategoryName</td>
                    <td>
                        <a href="@Url.Action("EditCategory", "ProductAdmin", new { id = category?.CategoryId })"
                           class="btn btn-primary btn-sm">
                            Edit
                        </a>
                        <a href="@Url.Action("DeleteCategory", "ProductAdmin", new { id = category?.CategoryId })"
                           class="btn btn-primary btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        No categories found.
    </div>
}